<aside  id="sidebar" class="main-sidebar hidden-print" style="height: 100px">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Customer</span></a></i>
      </li>
      <li class="treeview"><a href="#"><i class="fa fa-laptop"></i><span>Vendor</span></a></i>
      </li>
      <li><a href="charts.html"><i class="fa fa-pie-chart"></i><span>Employee</span></a></li>
      <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>Payment Receiepts</span></a>
    </ul>
  </section>
</aside>
