<div id="clock-div">
</div>
<div id= "date_div">
  <% @date = Time.now %>
  <span style="font-size:100px;"><%= @date.strftime("#{@date.day}-#{@date.month}-%Y")%></span>
</div>
<div id="day_div">
  <% @date = Time.now
     day = @date.strftime("%A")
     if day == 'Monday'
       day = 'سوموار'
     elsif day == 'Tuesday'
       day = 'منگل'
     elsif day == 'Wednesday'
       day = 'بدھ'
     elsif day == 'Thursday'
       day = 'جمعرات'
     elsif day == 'Friday'
       day = 'جمعہ'
     elsif day == 'Saturday'
       day = 'ہفتے'
     elsif day == 'Sunday'
       day = 'اتوار'
     end
  %>
  <span style="font-size:80px;"><%= day %></span>
</div>