<table style="width:100%">
  <tr>
    <td>
      <span style="text-align: left;font-size: 16px;" ><strong>Naseem Pharmacy</strong></span>
      <%#= wicked_pdf_image_tag('logo.png', style: "float:left; width: 40px; padding-top:5px") %>
    </td>
    <td>
      <span style="text-align: right;font-size: 16px;margin-right: 20%;" ><strong><%= Date.today.strftime('%d/%m/%Y') %></strong></span>
    </td>
  </tr>

</table>
<hr width="100%" style="margin: 0px;margin-top:5px;">

