<h1>Reset DataBase</h1>

<div class="panel panel-primary">

  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <%= form_tag('/data_resets', multipart: true, method: :post, class: 'form-inline') do |f|  %>

      <div class="form-group"  id="to_date_div">
        To date:<%= text_field_tag :to_date, nil, class: 'datepicker form-control', placeholder: 'To date' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-xs btn-info" id="generate_report_button"  style="line-height: 0px;" >Submit</button>
      </div>
    <% end %>
  </div>

</div>
